---
# -----------------------------------------------------------------------------
# Introduction:

# This yaml file show a sample of creating one Tenant assoiciated with two
# security domains, one private network and two bridge domains, and a
# three-tier application (data_base -- app -- web).

# The numbers of security_domains, bridge_domains, filters, contracts or EPGs
# could be any. They could be from 0 to as many as you like.
# dinamicallyCreateApplication.py will push your configuration danamically
# depending on your setup in the yaml file.

# In order to use the yaml file without any problem. You need a basic knowledge
# about yaml, eg: array and object. Here is all you need to know:
# http://docs.ansible.com/YAMLSyntax.html

# -----------------------------------------------------------------------------

# Login to APIC information
host: <ip_address>
user: admin
password: <password>

# Specify your tenant name
tenant: TenantDynamic

# Specify your application
# Usage:
# application:
#   name: <contractName>
#   optional_args:
#     prio: [level1 | level2 | level3]
application:
  name: 3Tier
  optional_args:
    prio: unspecified

# Specify security domains. You can have any number of security domains.
security_domains:
- mgmt
- all

# Specify the private network:
private_network: tenant_VRF

# Specify bridge domain. subnet_ip is optional. You can create any number of bridge domain.
# Usage:
# - name: <bridgeDomainName>
#   subnet_ip: <subnetIpAddress>
bridge_domains:
- name: BD1
  subnet_ip: 10.10.10.1/24
- name: BD2
  subnet_ip: 20.20.20.1/24

##Specify each filter. You can create any number of filters.
# Usage:
# - name: <filterName>
#   optional_args:
##  Specify each entry. You can create any number of entries within a filter.
#   - entry_name: <filterEntry>
#     ether_type: [trill | arp | mpls_unicast | mac_security | fcoe | ip]
#     arp_flag: [req | reply]
#     ip_protocol: [icmp | igmp | tcp | egp | igp | udp | eigrp | ospf | pim | l2tp]
#     apply_frag: [true | false]
#     source_port_from: [ftp-data | smtp | dns | http | pop3 | https | rtsp | <any_number>]
#     source_port_to: [ftp-data | smtp | dns | http | pop3 | https | rtsp | <any_number>]
#     destination_port_from: [ftp-data | smtp | dns | http | pop3 | https | rtsp | <any_number>]
#     destination_port_to: [ftp-data | smtp | dns | http | pop3 | https | rtsp | <any_number>]
#     tcp_flag: [est | syn | ack | fin | rst]
filters:
- name: Web_Filter
  optional_args:
  - entry_name: web_filter1
    ether_type: ip
    ip_protocol: tcp
    destination_port_from: http
    destination_port_to: http
  - entry_name: web_filter2
    ether_type: ip
    ip_protocol: tcp
    destination_port_from: dns
    destination_port_to: dns
- name: App_Filter
  optional_args:
  - ether_type: ip
    ip_protocol: tcp
    destination_port_from: 1433
    destination_port_to: 1433
- name: DB_Filter
  optional_args:
  - ether_type: ip
    ip_protocol: tcp
    destination_port_from: 1521
    destination_port_to: 1521

# Specify each contracts. You can create any number of filters.
# Usage:
# - name: <contractName>
#   optional_args:
#     scope: [application-profile | context | global | tenant]
#     prio: [level1 | level2 | level3]
#     subjects:
#     - name: <subjectName>
#       reverse_filter_ports: [true | false]
#       subject_prio: [level1 | level2 | level3]
#       filters:
#       - <filterName>
#
# You can have any number of subjects under one contract.
contracts:
- name: Web_Con
  optional_args:
    scope: tenant
    prio: level3
    subjects:
    - name: web_subj1
      reverse_filter_ports: false
      subject_prio: level2
      filters:
      - App_Filter
      - DB_Filter
      - Web_Filter
- name: App_Con
  optional_args:
    subjects:
    - name: app_subj
      filters:
      - App_Filter
- name: DB_Con
  optional_args:
    subjects:
    - name: db_subj
      filters:
      - DB_Filter


# Specify all EPGs. You can create any number of EPGs.
# Usage:
# - name: <epgName>
#   optional_args:
#     prio: [level1 | level2 | level3]
#     custom_qos: <customQos>
#     bridge_domain: <bridgeDomainName>
#     monitoring: <monitoringPolicy>
#     associated_domain_profile:
#       domain_profile: <domainProfileName>
#       deployment_immediacy: [immediate | lazy]
#       resolution_immediacy: [immediate | lazy]
#     leaves:
#       node_id: <nodeId>
#       encap: <vlan>
#       deployment_immediacy: [immediate | lazy]
#       mode: [regular | native | untagged]
#     paths:
#       node_id: <nodeId>
#       eth: <eth>
#       encap: <eth>
#       deployment_immediacy: [immediate | lazy]
#       mode: [regular | native | untagged]
#
# You can put any number of domain_profilem, leaves and paths under one EPG, 
epgs:
- name: Web_EPG
  optional_args:
    statically_link: True
    bridge_domain: BD1
    leaf:
      node_id: 101
      encap: vlan-97
      deployment_immediacy: lazy
      mode: untagged
    path:
      node_id: 101
      eth: 1/2
      encap: vlan-11
      deployment_immediacy: lazy
      mode: untagged
- name: App_EPG
  optional_args:
    statically_link: True
    bridge_domain: BD1
    leaf:
      node_id: 101
      encap: vlan-98
      deployment_immediacy: lazy
      mode: untagged
    path:
      node_id: 101
      eth: 1/3
      encap: vlan-12
      deployment_immediacy: lazy
      mode: untagged
- name: DB_EPG
  optional_args:
    statically_link: True
    bridge_domain: BD1
    leaf:
      node_id: 101
      encap: vlan-99
      deployment_immediacy: lazy
      mode: untagged
    path:
      node_id: 101
      eth: 1/4
      encap: vlan-13
      deployment_immediacy: lazy
      mode: untagged

# Specify the relationship (provided or consumed) between contract and epg.
# Usage:
# - contract: <contractName>
#   epg: <epgName>
#   type: [provided | consumed]
applied_contracts:
- contract: Web_Con
  epg: Web_EPG
  type: provided
- contract: App_Con
  epg: App_EPG
  type: provided
- contract: DB_Con
  epg: DB_EPG
  type: provided
- contract: App_Con
  epg: Web_EPG
  type: consumed
- contract: DB_Con
  epg: App_EPG
  type: consumed

# Specify L4-L7 device clusters in this tenant.
# Usage:
# - name: <deviceClusterName> 
#   context_aware: [single-Context | multi-Context]
#   device_type: [PHYSICAL | VIRTUAL]
#   function_type: [GoTo | GoThrough]
#   cluster_username: <username>
#   cluster_password: <password>
#   cluster_ip: <clusterIP>
#   cluster_port: <clusterPort>
#   device_package: <vendor>-<model>-<version>
#   vmm_provider: VMware                    # for virtual devices
#   vmm_domain: my_firepower_domain         # for virtual devices
#   
#   devices:
#   - name: <concreteDeviceName>
#     vmName: <vmName>                      # for virtual devices
#     vcenterName: <vcenterName>            # for virtual devices
#     vmm_provider: <vmmProvider>           # for virtual devices
#     vmm_domain: <vmmDomain>               # for virtual devices
#     vmm_controller: <vmmController        # for virtual devices
#     device_username: <deviceUsername>
#     device_ip: <deviceIP>
#     device_port: <devicePort>
#
#     concrete_interfaces:
#     - name: <concreteInterfaceName>
#       vnicName: <vnicName>                # for virtual devices
#       path: <path>                        # path to the physical port/PC/vPC
#   
#   logical_interfaces:
#   - name: <logicalInterfaceName>
#     label: <metaInterfaceLabel>           # Varies between device packages. See the device package device specification file for valid labels.
#     device: <concreteDeviceName>
#     concrete_interface: <concreteInterfaceName>
#
# All args other than "name" are optional unless required by APIC.

l4l7_devices:
- name: my_cluster
  context_aware: single-Context
  device_type: PHYSICAL
  function_type: GoThrough
  cluster_username: admin
  cluster_password: cluster_password
  cluster_ip: 10.10.10.11
  cluster_port: 443
  device_package: Cisco-FirePOWER-1.0
  #vmm_provider: VMware
  #vmm_domain: my_firepower_domain

  devices:
  - name: my_device
    #vmName: Virtual3D64_a
    #vcenterName: my_vCenter
    #vmm_provider: VMware
    #vmm_domain: my_vmm_domain
    #vmm_controller: my_vCenter
    device_username: admin
    device_password: device_password_1
    device_ip: 10.10.10.2
    device_port: 443
    concrete_interfaces:
    - name: internalcinf
      vnicName: ""
      path: "topology/pod-1/paths-1001/pathep-[eth1/11]"
    - name: externalcinf
      vnicName: ""
      path: "topology/pod-1/paths-1001/pathep-[eth1/12]"
  - name: my_device_2
    #vmName: Virtual3D64_b
    #vcenterName: my_vCenter
    #vmm_provider: VMware
    #vmm_domain: my_vmm_domain
    #vmm_controller: my_vCenter
    device_username: admin
    device_password: device_password_2
    device_ip: 10.10.10.3
    device_port: 443
    concrete_interfaces:
    - name: internalcinf
      vnicName: ""
      path: "topology/pod-1/paths-1001/pathep-[eth1/11]"
    - name: externalcinf
      vnicName: ""
      path: "topology/pod-1/paths-1001/pathep-[eth1/12]"

  logical_interfaces:
  - name: internal
    label: internal
    device: my_device
    concrete_interface: internalcinf
  - name: internal
    label: internal
    device: my_device_2
    concrete_interface: internalcinf
  - name: external
    label: external
    device: my_device
    concrete_interface: externalcinf
  - name: external
    label: external
    device: my_device_2
    concrete_interface: externalcinf